<div class="mb-5">
  <h1>{{ 'auth.login' | translate }}</h1>
  <p>
    {{ 'auth.dontHaveAccount' | translate}} <a routerLink="/auth/register">{{ 'auth.createAccount' | translate }}</a>
  </p>
  <small><a routerLink="/auth/reset-password">{{ 'auth.forgotPassword' | translate }}</a></small>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card flex">
    <div class="flex flex-column gap-2">
      <label for="username" class="required-field">{{ 'auth.pseudo' | translate }}</label>
      <input type="text" pInputText formControlName="username" id="username" />
      <small class="p-error block" *ngIf="form.get('username')?.invalid && form.get('username')?.dirty">
        {{ 'validation.requiredField' | translate }}
      </small>
    </div>
  </div>
  <div class="my-4 card flex">
    <div class="flex flex-column gap-2 ">
      <label for="password" class="required-field">{{ 'auth.password' | translate }}</label>
      <p-password formControlName="password" [toggleMask]="true" [feedback]="false" id="password"></p-password>
    </div>
  </div>

  <button [disabled]="form.invalid" pButton pRipple label="{{ 'auth.login' | translate }}" icon="pi pi-check"></button>
  <p-divider />

  <div class="flex justify-content-center">
    <asl-google-signin-button type='standard' shape="rectangular" logo_alignment="center" theme="outline" size='large'>
    </asl-google-signin-button>
  </div>
</form>