<div class="mb-5">
  <h1>{{ 'auth.forgotPassword' | translate }}</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-column gap-2 my-4">
      <label for="email" class="required-field">{{ 'auth.email' | translate }}</label>
      <input type="email" pInputText formControlName="email" id="email" placeholder="123@gmail.com" />
      <small class="p-error block" *ngIf="form.get('email')?.invalid && form.get('email')?.dirty">
        {{ 'validation.requiredField' | translate }}
      </small>
    </div>

    <button [disabled]="form.invalid" pButton pRipple label="{{ 'auth.resetPassword' | translate }}"
      icon="pi pi-check"></button>
  </form>
</div>