<div class="mb-5">
  <h1>{{ 'auth.register' | translate }}</h1>
  <p>{{ 'auth.alreadyRegistered' | translate}} <a href="#">{{ 'auth.connectHere' | translate }}</a></p>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex">
    <div class="flex flex-column gap-2">
      <label for="username" class="required-field">{{ 'auth.pseudo' | translate }}</label>
      <input type="text" pInputText formControlName="username" id="username" />
      <small class="p-error block" *ngIf="form.get('username')?.invalid && form.get('username')?.dirty">
        {{ 'validation.requiredField' | translate }}
      </small>
    </div>
  </div>

  <div class="grid my-4">
    <div class="col flex">
      <div class="flex flex-column gap-2">
        <label for="firstname" class="required-field">{{ 'auth.firstname' | translate }}</label>
        <input type="text" pInputText formControlName="firstname" id="firstname" />
        <small class="p-error block" *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.dirty">
          {{ 'validation.requiredField' | translate }}
        </small>
      </div>
    </div>

    <div class="col flex">
      <div class="flex flex-column gap-2">
        <label for="lastname" class="required-field">Nom</label>
        <input type="text" pInputText formControlName="lastname" id="lastname" />
        <small class="p-error block" *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.dirty">
          {{ 'validation.requiredField' | translate }}
        </small>
      </div>
    </div>
  </div>

  <div class="my-4 flex">
    <div class="flex flex-column gap-2">
      <label for="email" class="required-field">{{ 'auth.email' | translate }}</label>
      <input type="email" pInputText formControlName="email" id="email" placeholder="123@gmail.com" email />
    </div>
  </div>

  <div class="my-4 flex">
    <div class="flex flex-column gap-2 ">
      <label for="password" class="required-field">{{ 'auth.password' | translate }}</label>
      <p-password formControlName="password" [toggleMask]="true" id="password">
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <span class="mr-2">
              <i class="pi pi-check" style="color: green" *ngIf="password.length >= passwordMinLength"></i>
              <i class="pi pi-times" style="color: red" *ngIf="password.length < passwordMinLength"></i>
            </span>
            <span translate [translateParams]="{value: passwordMinLength}">validation.minimumLength</span>
          </ul>
        </ng-template>
      </p-password>
    </div>
  </div>

  <div class="my-4 flex flex-column">
    <div class="contract-section">
      <p-checkbox formControlName="hasReadContracts" binary="true" class="mr-2" />
      <label class="required-field">{{ 'auth.contracts' | translate }}</label>
    </div>
    <div class="contract-section">
      <p-checkbox formControlName="enablePromotionalMails" binary="true" class="mr-2" />
      <label>{{ 'auth.promotionalMails' | translate }}</label>
    </div>
  </div>

  <button *ngIf="!isLoading" [disabled]="form.invalid" pButton pRipple label="{{ 'auth.register' | translate }}"
    icon="pi pi-check"></button>
  <p-progressSpinner *ngIf="isLoading" styleClass="w-2rem h-2rem" strokeWidth="4" animationDuration=".5s" />

  <p-divider />

  <div class="flex justify-content-center">
    <asl-google-signin-button type='standard' shape="rectangular" logo_alignment="center" theme="outline" size='large'>
    </asl-google-signin-button>
  </div>
</form>