<p class="text-muted fs-15">Sign in to continue to Toner.</p>
<div class="p-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" formControlName="username" id="username" placeholder="Enter username"
        required />
      <div class="invalid-feedback" *ngIf="form.controls['username'].hasError('exist')">
        Username already exist
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <label for="firstname" class="form-label">Prenom</label>
        <input type="text" formControlName="firstname" class="form-control" id="firstname" required
          placeholder="prenom" />
      </div>
      <div class="col-6">
        <label for="lastname" class="form-label">Nom</label>
        <input type="text" formControlName="lastname" class="form-control" id="lastname" required placeholder="nom" />
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="1234@gmail.com"
        required />
    </div>

    <div class="mb-3">
      <label class="form-label" for="password-input">Password</label>
      <div class="position-relative auth-pass-inputgroup mb-3">
        <input #passwordInput type="password" formControlName="password"
          (input)="validateInput(form, 'password' ,passwordInput)" [type]="hidePassword ? 'text' : 'password'"
          class="form-control bg-light pe-5 password-input " placeholder="Enter password" id="password-input" required>
        <div class="invalid-feedback" *ngIf="form.get('password')?.getError('minlength')">
          password cannot be less than {{ form.get('password')?.getError('minlength').requiredLength }} characters
        </div>
        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
          type="button" id="password-addon">
          <i class="align-middle" [ngClass]="{'ri-eye-off-fill': !hidePassword, 'ri-eye-line': hidePassword}"
            (click)="togglePasswordSwitch()"></i>
        </button>
      </div>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary w-100" type="submit">Sign In</button>
    </div>

    <div class="mt-4 pt-2 text-center">
      <div class="signin-other-title">
        <h5 class="fs-13 mb-4 title">Inscription avec</h5>
      </div>
      <div class="pt-2 hstack gap-2 justify-content-center">
        <asl-google-signin-button type='icon' shape="rectangular" logo_alignment="center" theme="outline" size='large'>
        </asl-google-signin-button>
      </div>
    </div>
  </form>

  <div class="text-center mt-5">
    <p class="mb-0">Vous avez déja un compte ? <a routerLink="/auth/login"
        class="fw-semibold text-secondary text-decoration-underline"> SignUp</a>
    </p>
  </div>
</div>